{% extends 'base.html' %}

{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        /* Other styles remain unchanged */
        .product-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 20px;
        }
        .product-card {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
            background: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease;
        }
        .product-card:hover {
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
        }
        .product-card img {
            max-width: 100%;
            height: auto;
            border-radius: 8px;
        }
        .product-info {
            padding: 10px;
        }
        .product-title {
            font-weight: bold;
            margin-bottom: 5px;
        }
        .product-description {
            font-size: 14px;
            color: #666;
            margin-bottom: 10px;
        }
        .product-price {
            font-size: 16px;
            color: #f39034;
        }
    </style>

    <div class="product-grid">
        <!-- Iterate through products -->
        {% for product in products %}
            <a href="{% url 'product_detail' product.id %}" class="product-link"> <!-- Link to product detail page -->
                <div class="product-card">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                        <img src="{{ product.user.profile.profile_picture.url }}">
                    {% endif %}
                    <div class="product-info">
                        <div class="product-title">{{ product.name }}</div>
                        <div class="product-title">{{ product.user.profile.location }}</div>
                        <div class="product-title">{{ product.user.profile.phone_number }}</div>
                        <div class="product-price">{{ product.cost_price }} ksh</div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
