{% extends 'base.html' %}

{% block content %}
    <div class="profile-details">
        <div class="profile-picture-container">
            <div class="profile-picture">
                {% if user_profile.profile_picture %}
                    <img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture">
                {% else %}
                    <p>No profile picture</p>
                {% endif %}
            </div>
            <div class="profile-info">
                <table>
                    <tr>
                        <td><strong>saler</strong></td>
                        <td class="profile-name">{{ user_profile.user.username }}</td>
                    </tr>
                    <tr>
                        <td><strong>contact</strong></td>
                        <td class="profile-name">{{ user_profile.phone_number }}</td>
                    </tr>
                    <tr>
                        <td><strong>location</strong></td>
                        <td class="profile-name">{{ user_profile.location }}</td>
                    </tr>
                </table>
                <button type="button" class="my-button"><a href="{% url 'profile_update' %}">Update your profile</a></button>
            </div>
        </div>
    </div>

    <div class="border"></div>

    <div class="product-list">
        <h1>Your products</h1>
        <div class="product-grid">
            {% for item in user_products %}
                {% if not item.item_video %}
                    <div class="item">
                        {% if item.image %}
                            <img src="{{ item.image.url }}" alt="{{ item.name }}">
                            <div class="item-content">
                                <h2>{{ item.name }}</h2>
                                <p>Category: {{ item.category }}</p>
                                <p>Price: ${{ item.cost_price }}</p>
                                <p>Quantity: {{ item.quantity }}</p>
                                <p><a href="{% url 'product_update' pk=item.pk %}">Update</a> |<a href="{% url 'product_delete' pk=item.pk %}">Delete</a></p>

                            </div>
                        {% else %}
                            {{ item.name }}
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <style>
        .profile-details {
            float: left;
            width: 30%;
            padding: 20px;
        }

        .profile-picture-container {
            display: flex;
            align-items: center;
        }

        .profile-picture {
            margin-right: 20px;
        }

        .profile-picture img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            overflow: hidden;
        }

        .profile-info table {
            margin-top: 10px;
            width: 100%;
            border-collapse: collapse;
        }

        .profile-info td {
            padding: 8px;
            border-bottom: 1px solid #ddd;
        }

        .profile-info td:first-child {
            width: 120px;
            font-weight: bold;
        }

        .my-button {
            background-color: #f39034;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
        }

        .my-button:hover {
            background-color: #fa5001;
        }

        .border {
            border-right: 1px solid #ccc;
            height: 100%;
            margin-left: 20px;
        }

        .product-list {
            float: left;
            width: 70%;
            padding: 20px;
        }

        .product-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }

        .item {
            position: relative;
            overflow: hidden;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
        }

        .item:hover {
            transform: translateY(-5px);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
        }

        .item img {
            width: 100%;
            display: block;
            border-radius: 8px;
        }

        .item-content {
            padding: 15px;
        }
    </style>
{% endblock %}
