{% extends 'base.html' %}

{% block content %}
<img src="{{ product.image.url }}">
  <div class="container">
    <div class="row">
      {% for product in products %}
      
        <div class="col-md-4">
          <div class="product-card">
            {% if product.image %}
             <img src="{{ product.image.url }}" class="product-image" alt="{{ product.name }}">
            {% else %}
            {{ product.name }}
            {% endif %}
            
             
            
            <div class="product-details">
              <h3 class="product-name">{{ product.name }}</h3>
              <p class="product-category">{{ product.category }}</p>
              <p class="product-price">Cost: ${{ product.cost_price }}</p>
              <!-- Add more details as needed -->
              <a href="{{% url 'add_to_cart' priduct.id %}}" class="btn btn-primary">add</a>
              <a href="{#}" class="btn btn-warning">Update</a>
              <a href="{#}" class="btn btn-danger">Delete</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
