body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.sidebar {
    height: 85%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
}

.content {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.5s;
}

/* CSS classes for styling the second navbar */
.nav-secondary {
    background-color: #333;
    padding: 10px 20px;
    text-align: center;
}

.nav-secondary a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
}

.nav-secondary a:hover {
    background-color: #555;
}

.nav-secondary a.active {
    background-color: #555;
}

